
body {
    font-family: sans-serif;
    font-size: 12px;
    overflow: hidden;
    min-width: 900px;
}

.modal-content, #viewer2d, #viewer3d{
    background-color: white;
}

input {
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
}

output {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    color: red;
}
/* centered columns styles */

.row-centered {
    text-align: center;
}

.omrtpic {
  width: 300px;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one           */
    display: flex;
    align-items: center;
}

.footer {
    width: 95%;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.credit {
    margin-left: 1em;
    margin-bottom: .5em;
}

.fullscreen {
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    position: fixed !important;
    z-index: 1001 !important;
    overflow: auto;
}

#thumbnails-btm .col-xs-1:before,
#thumbnails-btm .col-xs-3:before {
    content: "";
    display: block;
    margin-top: 100%;
}

#thumbnails-btm .col-xs-1,
#thumbnails-btm .col-xs-3 {
    padding: 0px;
    -ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari */
    transform: scale(0.9, 0.9);
}


#thumbnails-btm img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: .5em solid;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    background-image: url(../img/Logo_HL_SCREENSHOT_JPG.JPG);
    background-size: contain;
}

div#thumbnails-btm_container.onRight,
div#thumbnails-btm_container.rightChartFullScreenToggled
{
    position: absolute;
    right: 0;
    width: 25%;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

}
div#thumbnails-btm_container.onRight,
div#thumbnails-btm_container.onRight #thumbnails-btm div,
div#thumbnails-btm_container.rightChartFullScreenToggled #thumbnails-btm div
{
    width: 25%;
}

div#thumbnails-btm.col-lg-12{
    margin-top: 20px;
    overflow: auto;
    /* Firefox */
    height: -moz-calc(100% - 40px);
    /* WebKit */
    height: -webkit-calc(100% - 40px);
    /* Opera */
    height: -o-calc(100% - 40px);
    /* Standard */
    height: calc(100% - 40px);
}

#legend {
    overflow-y: auto;
    overflow-x: hidden;
}

rect.disabled {
    fill: transparent !important;
}

.navbar-default {
    height: 50px;
    /* overwrite default navbar size */
}

.Spectacles_Footer {
    visibility: hidden;
}

.sampleImage {
    width: 100%;
    cursor: pointer;
}

.sampleImage:hover img {
    border-color: black;
    border-width: .2em solid;
}


.file-upload {
    position: relative;
    overflow: hidden;
    height: 2.2em;
    border-width: 0px;
    width: 10em;
    border-radius: 0 20px 20px 0;
    margin-left: -4px;
}

input#csv-file {
    /* text-align: center; */
    margin: 0 auto 0 auto;
    border-radius: 20px;
    height: 2.6em;
    width: 420px;
}


a#copyRightButton {
    overflow: hidden;
}

/*custom cs*/
/*#close, #loadDataclose{
    margin: 5px;
}*/

.popupWindow,
.modal-backdrop{
    background-color: rgba(0, 0, 0, 0.30);
}

.popupWindow div.col-centered{
    background-color: #ffffff;
    opacity: 1;
    z-index: 1000;
    width: 50%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    max-height: 700px;
    min-height: 450px;
    min-width: 560px;
    padding: 2em;

}

#ScChartWrapper {
    background-color: white;
}

#ScChartWrapper.rightChartFullScreenToggled{
    width: 75%;
    left: 15px;
    z-index: 9;
    position: absolute;
}

.col-lg-3 .chartSide.rightChartFullScreenToggled,
.col-lg-3 .row-fluid.rightChartFullScreenToggled{
    width: 100%;
    float: left;
}
#zoomedArea.rightChartFullScreenToggled{
    display: none;
    z-index: 1;
}
#PcChartWrapper.rightChartFullScreenToggled{
    position: absolute;
}
#thumbnails-btm_container.rightChartFullScreenToggled{
    width: 25%;
    height: calc(100% - 70px);
}

.col-lg-3 #copyRightButton.rightChartFullScreenToggled{
    width: 85% !important;
}

g.cell text {
    font-size: 0.85em;
}
#folderLink{
    border-radius: 20px 0 0 20px;
    width: 300px;
    height: 2.2em;
}

#dimSettingList{
    overflow-y: auto;
    height: 62%;
}

#dimSettingList .form-control{
    min-width: 50px;
    width: 35%;
    margin-left: 0.5em;
}


#showStaticLink{
    opacity: 0;
}

#showStaticLink.Show{
    opacity: 1;
    margin-top: 50px;
}

#graph svg g.mark line{
    stroke-width: 4px;
}

#navbar-studyInfo{
    position: absolute;
    right: 50px;
    text-align: right;
}



/* OMRT Edits */

/* Hide unused charts */
#ScChartWrapper {
    display: none;
}

#legend {
    display: none;
}

#legend-heading {
    display: none;
}

/* Hide rating stars */
.star-rating-control {
    display: none;
}


/* Attributes widget */
#IterationData {
    z-index: 1000;
    left: 20px;
    bottom: 0 !important;
    margin-bottom: 10;
    backdrop-filter: blur(10px);
    margin: 25px 6px;
    padding: unset;
    max-width: 290px;
}


/* Sliders */
#sidebar-wrapper {
    z-index: 9999 !important;
    max-height: calc(100vh - 330px);
    top: 15%;
    width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    background: transparent;
}

.sidebar-nav {
    width: 300px !important;
}

#inputSliders {
    left: 5%;
    width: 97%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    backdrop-filter: blur(10px);
}

.inputSlider {
    font-size: 16px;
    padding-bottom: 10px;
}

#sliders-report {
    display: none;
}

/* Hide Parallel chart expander button */
#pcFullScreen-toggle {
    display: none;
}


/* Rotate the pc labels */
.label {
    text-anchor: start;
    transform: rotate(-10deg);
}


/* Fix overflow */
#page-content-wrapper {
    padding-bottom: 0;
    z-index: unset;
}

#wrapper {
    padding-left: 300px;
}


/* Popup tabs */
/* Popup tabs */
#welcomeContainer,
#loadDataContainer,
.modal-content {
    background-color: #ffffff99;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: solid 1px white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    max-width: 90vw;
    max-height: 90vh;
    overflow: overlay;
}

#showStillLink div {
    backdrop-filter: blur(10px);
}

#welcome, 
#showStillLink,
#showSetting {
    z-index: 99999 !important;
}

#welcomeContainer,
#loadDataContainer {
    height: 0;
    width: 0;
}

#welcomeContainer .col-sm-4 {
    width: 100%;
    float: center;
  }

#welcome {
    background-color: transparent;
}

.modal-backdrop {
    visibility: hidden;
}


/* Fixed zoomed in area */
#thumbnails-btm_container,
#zoomedArea {
    overflow: hidden;
    margin-top: 20px;
    min-height: 0;
}

#zoomedArea {
    margin-top: 20px;
    padding: 0;
}

.zoomed.fullscreen {
    margin-top: 0 !important;
}

#zoomed img,
#zoomedArea img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    display: block;
    margin-top: 30px;
    padding-bottom: 30px;
    min-width: 500px;
}

#vis {
    padding-right: 5px;
    text-align: right;
}


/* Viewer Area controls */
#vis .imgSwitch select {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}

#vis .imgSwitch {
    float: right;
    z-index: 100;
}

#vis > form:nth-child(1) {
    float: right;
}


/* Sorting select dropdown */
.sorting > select {
    max-width: 100%;
    padding-right: 20px;
}

.sorting {
    text-align: right;
}


/* Custom Scrollbars */
div::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

div::-webkit-scrollbar-thumb {
    background: #BEC6D5;
}

div::-webkit-scrollbar-thumb:hover {
    background: #444466;
}